$color-white: #fff;
$color-black: #000;
$bodyBgColor: #0B0E1D;
$color-logo: #a9a9a9;
$colorBorder: #797474;
$colorBtn: #045b14;

$borderRadius: 4px;

$font-global: Ubuntu, sans-serif;
$font-global-medium: Ubuntu-medium, sans-serif;
$font-global-bold: Ubuntu-bold, sans-serif;

$font-size-base: 14px;

